# Temporary Files
*~
.*.swp
.DS_STORE

bin/
target/
obj/
.gwt/
gwt-unitCache/
war/
gen/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.project
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
build/resources/main/floor.obj
build/resources/main/spider.frag
build/resources/main/spider.vert
build/resources/main/top.obj
build/resources/main/walls.frag
build/resources/main/walls.vert
build/resources/main/walls2.obj
build/resources/main/images/wall.jpg
build/resources/main/personmodels/person_000001.obj
build/resources/main/personmodels/person_000002.obj
build/resources/main/personmodels/person_000003.obj
build/resources/main/personmodels/person_000004.obj
build/resources/main/personmodels/person_000005.obj
build/resources/main/personmodels/person_000006.obj
build/resources/main/personmodels/person_000007.obj
build/resources/main/personmodels/person_000008.obj
build/resources/main/personmodels/person_000009.obj
build/resources/main/personmodels/person_000010.obj
build/resources/main/personmodels/person_000011.obj
build/resources/main/personmodels/person_000012.obj
build/resources/main/personmodels/person_000013.obj
build/resources/main/personmodels/person_000014.obj
build/resources/main/personmodels/person_000015.obj
build/resources/main/personmodels/person_000016.obj
build/resources/main/personmodels/person_000017.obj
build/resources/main/personmodels/person_000018.obj
build/resources/main/personmodels/person_000019.obj
build/resources/main/personmodels/person_000020.obj
build/distributions/platform_maze_github.tar
build/distributions/platform_maze_github.zip
build/libs/platform_maze_github.jar
build/scripts/platform_maze_github
build/scripts/platform_maze_github.bat
build/tmp/jar/MANIFEST.MF
