# Temporary Files
*~
.*.swp
.DS_STORE

bin/
target/
obj/
.gwt/
gwt-unitCache/
war/
gen/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
